<mat-card class="ranking-card">
  <mat-card-title class="ranking-title">Ranking de Estrategias</mat-card-title>
  <mat-divider></mat-divider>

<div *ngIf="simulation.length > 0" class="ranking-list">
  <div *ngFor="let sim of sortedSimulation; index as i" class="ranking-item">
    <div class="ranking-position">#{{ i + 1 }}</div>
    <div class="ranking-details">
      <div><strong>Fecha:</strong> {{ sim.fecha | date:'short' }}</div>
      <div><strong>Balas:</strong> {{ sim.balasDisponibles }}</div>
      <div><strong>Tiempo:</strong> {{ sim.tiempoDisponible }} seg</div>
      <div><strong>Puntaje:</strong> {{ getScore(sim) }}</div>
    </div>
  </div>
</div>


  <div *ngIf="simulation.length === 0" class="empty-state">
    No hay estrategias registradas.
  </div>
</mat-card>