/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
* {
  font-family: 'Inter', sans-serif;
}
body { margin: 0; font-family: 'Inter', sans-serif, sans-serif; }
/* styles.scss */
mat-card {
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.06);
  padding: 24px;
}
